* {
  box-sizing: border-box; }

.block {
  height: 100%; }
  .block:before {
    content: "";
    float: left; }

.bg-1 {
  background-color: #FBA342; }
  .bg-1:before {
    padding-top: 20%; }

.bg-2 {
  background-color: #D8EA34; }
  .bg-2:before {
    padding-top: 40%; }

.bg-3 {
  background-color: #4988CB; }
  .bg-3:before {
    padding-top: 80%; }
  @media only screen and (min-width: 577px) and (max-width: 991px) {
    .bg-3:before {
      padding-top: 20%; } }

.bg-4 {
  background-color: #E1E1E1; }
  .bg-4:before {
    padding-top: 68%; }
  @media only screen and (min-width: 577px) and (max-width: 991px) {
    .bg-4:before {
      padding-top: 40%; } }
