form > fieldset {
  width: 400px;
  background-color: #f0f0f0;
  border: 3px solid dimgray; }

input,
label,
select,
textarea,
button {
  display: block;
  border: none; }

textarea {
  width: 80%;
  height: 100px; }

button {
  background-color: #4e4e4e;
  width: 60px;
  height: 30px;
  text-transform: uppercase;
  color: white;
  border-radius: 2px; }

.main_form > div {
  margin-top: 20px; }

.checkbox > label {
  margin: 5px 0px 0px 8px;
  cursor: pointer; }

.float_left {
  float: left;
  clear: both; }

.checkbox {
  border: none;
  margin-top: 20px;
  padding: 0; }
